.input {
    outline: none;
    background-color: inherit;
  }
  
  .input:focus {
    outline: none;
    background-color: inherit;
  }
  
  .plaintext {
    -webkit-user-modify: read-write-plaintext-only;
  }