@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
}

[data-theme='dark'] {
  --background: #0d0d0d;
  --foreground: #ffffff;
  --color-input: #F2F2F2;
  --primary-color: #F9AD71;
  --navbar: #191819;
  --search: #2D2C2C;
  --text-color: #ffffff;
  --background-second: #333436;
  --background-icon: #3f4042;
}

[data-theme='light'] {
  --background: #ffffff;
  --foreground: #000000;
  --color-input: #F2F2F2;
  --primary-color: #F9AD71;
  --navbar: #F2F2F2;  
  --search: #D2D3D3;
  --text-color: #000000;
  --background-second: #CCCBC9;
  --background-icon: #c0bfbd;
}

/* Custom global scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}



@media (prefers-color-scheme: dark) {
 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.textarea:focus{
  outline: none;
  border: none
}

.public-DraftEditorPlaceholder-root{
  /* display: none; */
  position: absolute;
  top: 30%;
}

.DraftEditor-editorContainer{
  padding: 10px 0;
  min-height: 50px;
  position: relative;
}

.custom-prev, .custom-next {
  display: block !important;
}

.tab{
  border-color: transparent !important;
}

.tab-active{
  border-bottom-color: var(--primary-color) !important;
}
