@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
}

[data-theme='dark'] {
  --background: #0d0d0d;
  --foreground: #ffffff;
  --color-input: #F2F2F2;
  --primary-color: #F9AD71;
  --navbar: #191819;
  --search: #2D2C2C;
  --text-color: #ffffff;
  --background-second: #333436;
}

[data-theme='light'] {
  --background: #ffffff;
  --foreground: #000000;
  --color-input: #F2F2F2;
  --primary-color: #F9AD71;
  --navbar: #F2F2F2;  
  --search: #D2D3D3;
  --text-color: #000000;
  --background-second: #CCCBC9;
}

@media (prefers-color-scheme: dark) {
 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.textarea:focus{
    outline: none;
    border: none
}
