@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme='dark'] {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --color-input: #F2F2F2;
  --primary-color: #F9AD71;
  --navbar: #191819;
  --search: #2D2C2C;
  --whiteText: #ffffff;
}

[data-theme='light'] {
  --background: #ffffff;
  --foreground: #000000;
  --color-input: #F2F2F2;
  --primary-color: #F9AD71;
  --navbar: #F2F2F2;  
  --search: #D2D3D3;;
}

@media (prefers-color-scheme: dark) {
 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .bg-navbar {
  background-color: var(--navbar);
}

.bg-search {
  background-color: var(--search);
} */
